.item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #cecece;
    font-size: 20px;
    border-radius: 5px;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.index{
    margin: 0px 10px 0px 0px;
}


.description {
    flex: 1;
}

.description h3, 
.description span {
    margin: 0px 10px;
}

.line {
    border-bottom: 0.1px solid rgba(92, 90, 90, 0.3);
}

.title {
    padding: 0px;
    margin: 0px;
}

.title__checked {
    padding: 0px;
    margin: 0px;
    text-decoration: line-through;
}

.text__checked{
    text-decoration: line-through;
}

.delete {
    margin: 0px 0px 0px 10px;
}

img {
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 0.5s ease 0s;
}

img:hover{
    transition: transform 0.5s ease 0s;
    transform: scale(1.35);
}